<div class="container-fluid">
  <div class="row">
    <h2>Recipe Detail</h2>
    <% if @recipe.name != "" %>
        <p>Recipe Name: <%= @recipe.name %></p>
    <% else %>
        <p>Recipe Name: Invalid entry.</p>
    <% end %>

    <% if @recipe.description != "" %>
      <p>Instructions: <%= @recipe.description %></p>
    <% else %>
      <p>Instructions: Incorrect Entry.</p>
    <% end %>


  </div>
  <br><br>
  <div class="row">
    <h4>Update Recipe Details</h4>

    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <%= render('/layouts/form') %>
      <button class="btn btn-primary">Update</button>
    </form>
  </div>

  <div id = "error_box" class="row">
    <%= render('/layouts/errors', :object => @recipe) %>
  </div>

</div>
